.cont-header {
  background-color: black;
  min-height: 100vh;
  text-align: center;
  color: white;
}

.cont-header .dropdown .btn-primary,
.updateBtn {
  background-color: #14424d !important;
  border-color: #14424d !important;
}

.planet-selector {
  width: 150px;
}

.title,
.data {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: xx-large;
}

.data {
  font-size: large;
}

.slider-image,
.textArea,
.updateBtn {
  width: 30% !important;
}

.textArea {
  min-height: 100px;
}